@model WebsiteNoiBoCongTy.Models.News

@{
    ViewData["Title"] = "Xóa tin";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="container mt-5">
    <h1>Xóa tin</h1>
    <h3>Bạn có chắc chắn muốn xóa bản tin này?</h3>
    
    <div class="row mt-4">
        <div class="col-md-6">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title">Thông tin bản tin</h4>
                    <hr />
                    <dl class="row">
                        <dt class="col-sm-4">Tiêu đề</dt>
                        <dd class="col-sm-8">@Html.DisplayFor(model => model.NewsTitle)</dd>
                        <dt class="col-sm-4">Nội dung</dt>
                        <dd class="col-sm-8">@Html.DisplayFor(model => model.Content)</dd>
                        <dt class="col-sm-4">Ngày tạo</dt>
                        <dd class="col-sm-8">@Html.DisplayFor(model => model.CreateDate)</dd>
                        <dt class="col-sm-4">Người đăng</dt>
                        <dd class="col-sm-8">@Html.DisplayFor(model => model.Author.Fullname)</dd>
                    </dl>
                </div>
            </div>
        </div>
    </div>

    <form asp-action="Delete" class="mt-4">
        <input type="hidden" asp-for="Id" />
        <button type="submit" class="btn btn-danger">Xóa</button>
        <a asp-action="Index" class="btn btn-secondary">Quay lại</a>
    </form>
</div>
