@model WebsiteNoiBoCongTy.Models.Department

@{
    ViewData["Title"] = "Thêm Phòng ban mới";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="container mt-5">
    <h1>Thêm Phòng ban mới</h1>
    <hr />

    <div class="row">
        <div class="col-md-6">
            <form asp-action="Create">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                <div class="form-group">
                    <label asp-for="Name" class="control-label">Tên phòng ban</label>
                    <input asp-for="Name" class="form-control" />
                    <span asp-validation-for="Name" class="text-danger"></span>
                </div>

                <div class="form-group mt-4">
                    <button type="submit" class="btn btn-primary">Lưu</button>
                    <a asp-action="Index" class="btn btn-secondary ml-2">Quay lại</a>
                </div>
            </form>
        </div>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
